<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.ibtrader.healthcheck</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/yuniorrodriguezosorio/Documents/GitHub/ib-trader/venv/bin/python</string>
    <string>/Users/yuniorrodriguezosorio/Documents/GitHub/ib-trader/scripts/fleet_healthcheck.py</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/yuniorrodriguezosorio/Documents/GitHub/ib-trader</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>55</integer></dict>
    <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>35</integer></dict>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardErrorPath</key><string>/Users/yuniorrodriguezosorio/Documents/GitHub/ib-trader/healthcheck_err.log</string>
</dict></plist>
